

/* Box-Sizing */
*, *:after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, canvas {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cabin', 'Open-Sans', sans-serif;
    color: #474747;
	font-weight: normal;
}

.chart {
	position: relative;
	width: 600px;
	height: 400px;
}

.chart .canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.axes[data-graph-type="timeseries-heatmap"] .axis path {
	fill: none;
}

.axes[data-graph-type="timeseries-heatmap"] .y.axis path {
	stroke: none;
}

.axes[data-graph-type="timeseries-heatmap"] .x.axis path {
	stroke: #aaa;
	stroke-width: 1px;
}

.axes[data-graph-type="timeseries-heatmap"] .axis line {
	stroke: #aaa;
	stroke-width: 1px;
}

.graph[data-graph-type="timeseries-heatmap"] {
	position: absolute;
	left: 0;
	top: 0;
}

.meta[data-graph-type="timeseries-heatmap"] .title {
	display: block;
	font-size: 2em;
	line-height: 2em;
	padding: 0 10px;
	color: #474747;
	text-align: center;
}


